{% extends "base.html" %}

{% block content %}
<main class="about-main">
    <section class="about-main__about">
        <p><span>Software developer</span> and student who enjoys crafting technological solutions. My journey in
            the world of technology has been marked by curiosity and a passion for learning.
        <span>I have experience in API development with Flask and cloud databases using AWS</span>. I'm interested in the world of
            Cloud Computing, Backend Development, and, above all, <span>Data Engineering</span>.</p>
        <p>What motivates me the most is the opportunity to work in dynamic and collaborative environments, such as
            startups and growing tech companies. I'm always on the lookout for new challenges and opportunities to learn
            and contribute.
        Thank you for visiting my site. If you're interested in working together on exciting projects or just want to
            chat about technology, I'd be delighted to connect and create together.</p>
    </section>

</main>
{% endblock %}
