{% extends "base.html" %}

{% block content %}
<main class="contact-main">
    <section class="contact-main__contact">
        <dl>
            <dt>Email</dt>
            <dd>
                <a class="email" href="mailto:gooniesdev@gmail.com">goonies [at] gmail.com</a>
            </dd>
            <dt class="linkedin">LinkedIn</dt>
            <dd>
                <a href="https://www.linkedin.com/in/gmunozcastro/" target="_blank">Gabriel Muñoz Castro</a>
            </dd>
            <dt class="github">GitHub</dt>
            <dd>
                <a href="https://github.com/mrGoonies" target="_blank">mrGoonies</a>
            </dd>
        </dl>

    </section>
</main>
{% endblock %}
