@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier Prime', monospace;
  font-family: 'Lato', sans-serif;
}

body {
    margin-top: 5%;
    background-color: #F5F7F8;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;

    && h1 {
        font-size: 3rem;
        color: #495E57;
    }

    && h3 {
        font-size: 1rem;
        color: #495E57;
        margin-bottom: 2rem;
        font-weight: 200;
    }

    && nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        && a {
            text-decoration: none;
            color: #45474B;
        }

        && a:hover {
            color: #495E57;
            font-weight: 700;
        }
    }
}


.about-main {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    && p {
        max-width: 500px;
        padding: 0 1rem;
        color: #45474B;

        && span {
            font-weight: 700;
        }
    }
}

.contact-main {
    && .contact-main__contact {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 5% 0;

        && dt {
            font-size: 1.2rem;
            color: #45474B;
            margin-bottom: 1rem;
        }

        && dd {
            font-size: 1.2rem;
            color: #45474B;
            margin-bottom: 2rem;

            && a {
                text-decoration: none;
                color: #45474B;
                font-weight: 200;

            }

            && a:hover {
                text-decoration: underline;
            }

        }

    }
}

.project-main {

    && .project-main__container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-content: center;
        margin: 5% 0;

        && .card {
            margin-bottom: 2rem;
        }
    }
}
